body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(#f5f5f5);
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center; 
    padding: 15px 0;  
}

header img {
    width: 100px; 
    border:1px solid#0077b6; 
    border-radius: 10%;
    transition: 0.5s ease;
object-fit: cover;
}
header img :hover{
    transform: scale(1.1);
}

.contact info {
    margin: 2px 0px;
}

.navbar {
    background-color: rgb(#1ad3cd);
    text-align: center;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    padding: 15px 30px;
}

.navbar a {
    color: black;
    margin: 40px;
}

.navbar2 img {
    width: 1325px;
    height: 500px;
}

/* About Section */
.about-section {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-section h2 {
  color: #0077b6;
  margin-bottom: 20px;
}

.about-section p {
  margin-bottom: 20px;
}

/* Hide checkbox */
#toggle {
  display: none;
}

/* Read More button */
.read-more-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Hidden content */
.more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* Show content when checkbox is checked */
#toggle:checked ~ .more-content {
  max-height: 200px;
}

.feacture-product {
    background-color: #007685;
    padding: right 1%; ;
    justify-content:center;
    text-align: center;
    font-weight: bold;
}

.products {
    justify-content: right;
    text-align: left;
    display: flex;
}

.products p {
    text-align: left;
    margin-left: 200px;
}

.products img {
    height: 50%;
    width: auto;
    margin: 10px;
}

.our-location {
    background-color: #000000;
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.location {
    display: flex;
}

.location iframe {
    width: 300%;
}

.footer {
    background-color: #333;
    color: black;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
   width: 30%;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section a {
color: #fff;
}
.slider{
    height: 70vh;
    width: 100%;
    position: relative;
   
}

.slide {height: 70vh;
    width: 100%;
    object-fit:inherit;
    background-position: left;
    position: absolute;
    transition: 1ms ease-in-out 3s;



 }

 