/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(136, 231, 255);
}

/* Header */
.header {
  background: #99e4f1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
}

.contact-info p {
  margin: 2px 0;
}

/* Navbar */
.navbar {
  background: #0077b6;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.contact-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #00acfc;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Footer */
.footer {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 70px;
}

.footer-section ul {
  list-style: none;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}