/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  height: 20px;
}

.logo {
  width: 300px;
}

.contact-info p {
  margin: 2px 0;
}

/* Navbar */
.navbar {
  background: #1ad3cd;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  background: line-gradient(45deg, #4f1919, #ff3333);
  border-radius: 8px;
  transition: .5s;
}

nav a:nth-child(1):hover~span
{
 left: 0;
}

nav a:nth-child(2):hover~span
{
 left: 95px;
}

nav a:nth-child(3):hover~span
{
 left: 189px;
 width: 110px;
}

nav a:nth-child(4):hover~span
{
 left: 289px;
 width: 115px;
}


/* Slider */
.slider {
  height: 400px;
  overflow: hidden;
}

.slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slide-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
}

/* Welcome */
.welcome {
  background: #e0f7fa;
  text-align: center;
  padding: 50px 20px;
}

.welcome h2 {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #0b0c0c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Products */
.featured-products {
  padding: 40px 20px;
  background: #f1f8ff;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.product {
  background: rgb(191, 189, 188);
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease,
   box-shadow 0.3s ease; 
}

.product:hover {
   transform: scale(1.05);
   box-shadow: 0.6px 12px rgba(0,0,0,0.15);
}

.product img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  transition: transform 0.3s ease,
   box-shadow 0.3s ease; 
}

.product img:hover {
   transform: scale(1.05);
   box-shadow: 0.6px 12px rgba(0,0,0,0.15);
}
/* FAQ */
.faq-section {
  background: #f7f7f7;
  text-align: center;
  padding: 40px 20px;
  margin: 50px 90px;
}

.faq-question {
  margin-bottom: 20px;
  text-align: center;
  background: white;
  padding: 10px;
  margin: 50px 90px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Footer */
.footer {
  background: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: red wavy;
}

.footer-section a {
  color: #fff;
  text-decoration: red wavy;
}
.footer-sectionimg{
  text-align: center;
  border: 10px;

}
.go-bottom {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: green;
  color: burlywood;
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.go-bottom:is(:hover, :focus) {
  background: var(--white-1);
  color: var(--viridian-green);
}

.go-bottom.active {
  opacity: 1;
  visibility: visible;
}


.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url("arro");
  color: pink;
  border-radius: 50%;
  padding: 0.7rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}

.go-top:is(:hover, :focus) {
  background: var(--white-1);
  color: var(--viridian-green);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
}